# k8s/03-services/faiss-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: faiss-db-service # FastAPI Pod에서 호출할 이름 (http://faiss-db-service:8001)
spec:
  selector:
    app: faiss-db
  type: ClusterIP # 내부 통신용
  ports:
    - protocol: TCP
      port: 8001 # Service 포트
      targetPort: 8001 # 컨테이너 내부 포트 (faiss_utils.py에서 EXPOSE 8001)
---
apiVersion: v1
kind: Service
metadata:
  name: translate-service # FastAPI Pod에서 호출할 이름 (http://translate-service:8002)
spec:
  selector:
    app: translate-service
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8002 
      targetPort: 8002 # 컨테이너 내부 포트